<div class="form-actions">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn blue">Submit</button>
            <a type="button" id="cancel" class="btn default" href="{{ path(href) }}">Cancel</a>
        </div>
    </div>
</div>
