<div class="form-actions">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            {% include 'RandockMetronicBundle:form:submitButton.html.twig' %}
            {% include 'RandockMetronicBundle:form:cancelButton.html.twig' %}
        </div>
    </div>
</div>
