<div class="form-actions">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            {% include '@RandockMetronic/form/submitButton.html.twig' %}
            {% include '@RandockMetronic/form/cancelButton.html.twig' %}
        </div>
    </div>
</div>
