<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="UTF-8" />
    <title>Artworkdash</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    {% block stylesheets %}
    {% endblock %}

</head>


<!-- END HEAD -->

<body class="page-container-bg-solid page-md">
{% block body %}
{% endblock %}

<!-- END QUICK NAV -->
<!--[if lt IE 9]>
{% javascripts
"@RandockMetronicBundle/Resources/public/assets/global/plugins/respond.min.js"
"@RandockMetronicBundle/Resources/public/assets/global/plugins/excanvas.min.js"
"@RandockMetronicBundle/Resources/public/assets/global/plugins/ie8.fix.min.js"
filter = '?uglifyjs2'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<![endif]-->

{% block javascript %}
{% endblock %}
</body>

</html>
