<div class="page-footer">

    {% if layout == 1 %}<div class = "page-footer-inner">{%  endif %}
        <div class="container">
            {%  block footer_inner %}{%  endblock %}
        </div>
    {%  if layout == 1 %}</div>{% endif %}
    {%  if layout == 1 %}
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
    {% endif %}
</div>
{%  if layout == 3 %}
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
{% endif %}
