<div class="page-header-menu">
    <div class="container">
        <!-- BEGIN HEADER SEARCH BOX -->
        {% block headerSearch %}
        <form class="search-form" action="page_general_search.html" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="query">
                <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </span>
            </div>
        </form>
        {% endblock %}
        <!-- END HEADER SEARCH BOX -->
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        <div class="hor-menu  ">

            {{ knp_menu_render('mainMenu',
            {
                'allow_safe_labels': false,
                'ancestorClass' : 'active',
                'firstClass': null,
                'lastClass': null,
                'template' : 'RandockMetronicBundle:menu:mainMenu.html.twig',
            }) }}

        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
