<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
        <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->

        {% for service in getHeaderLists() %}

            {% if service.getType == 'notification' %}
                {%  include '@RandockMetronic/layout/headerLists/NotificationHeaderListTemplate.html.twig' with { items: service.getItems(), options: service.getOptions() } %}
            {%  endif %}

            {% if service.getType == 'task' %}
                {%  include '@RandockMetronic/layout/headerLists/TaskHeaderListTemplate.html.twig' with { items: service.getItems(), options: service.getOptions() } %}
            {%  endif %}

        {%  endfor %}

        <li class="droddown dropdown-separator">
            <span class="separator"></span>
        </li>


        <!-- BEGIN QUICKSEND BUTTON -->
        <li class="dropdown dropdown-user{% if layout == 3 %} dropdown-dark{% endif %}">
            {% block quickSend %}{% endblock %}
        </li>
        <li class="droddown dropdown-separator">
            <span class="separator"></span>
        </li>


        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li class="dropdown dropdown-user{% if layout == 3 %} dropdown-dark{% endif %}">
            <a href="javascript:;"
               class="dropdown-toggle"
               data-toggle="dropdown"
               data-hover="dropdown"
               data-close-others="true"
               style="padding-top:3px;">

                {% block userAvatar %}{% endblock %}

                {%  if layout == 1 %}
                    <i class="fa fa-angle-down"></i>
                {%  endif %}
            </a>
            {{ knp_menu_render(
                'topMenu',
                {   'depth': 1,
                    'ancestorClass' : 'active',
                    'firstClass': null,
                    'lastClass': null,
                    'template' : '@RandockMetronic/menu/topMenu.html.twig',
                }
            ) }}

        </li>
        <!-- END USER LOGIN DROPDOWN -->
    </ul>
</div>

